@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
body{
    background-color: #0a0b1e;
}
*/
.text-gradient{
    background: rgb(58,180,59);
    background: linear-gradient(90deg, rgba(58,180,59,1) 0%, rgba(29,171,253,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    color: rgba(29,171,253,1);
    /*filter: drop-shadow(0px 0px 5px white);*/
    -webkit-text-stroke: 5px transparent;
    font-size: 3rem;
    font-family: 'Monoton', cursive;

}